@use "normalize.css/normalize.css";

$dark-color: rgba(47, 47, 47, 0.75);

@mixin frosty($blur, $highlight-multi: 1, $saturation: 100%) {
  backdrop-filter: blur($blur) saturate($saturation);
  box-shadow:
    5px 10px 15px 10px rgba(0, 0, 0, 0.12),
    3px 3px 8px 2px rgba(200, 200, 200, 0.1 * $highlight-multi) inset;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  font-weight: 400;
  line-height: 1.5;
  overflow-y: hidden;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.85);
  background: linear-gradient(-25deg, rgb(47, 7, 46), rgb(110, 2, 56));
}

.main-container {
  position: relative;
  box-sizing: border-box;
  display: flex;

  min-width: 320px;
  min-height: 100vh;

  padding: 3em;
  gap: 3em;
  overflow: hidden;
}

.rain-svg {
  position: absolute;
  opacity: .2;
}

.columns-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 5;
  gap: 3em;
}

.column {
  @include frosty($blur: 7px, $saturation: 90%, $highlight-multi: 2);
  background-color: rgba(225, 225, 225, .13);
  padding: 1em;
  flex: 1 0 0;
  font-size: 1.1em;
  overflow: auto;
  min-height: 0;
  position: relative;
}

.column-txt {
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, black), color-stop(100%, rgb(0, 0, 0, .2)));
  overflow: auto;
  height: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

.column:first-child {
  border-radius: 1.5em 1.5em 0 0;
}

.column:last-child {
  border-radius: 0 0 1.5em 1.5em;
}

.search-container {
  flex: 9;
  display: flex;
  flex-direction: column;
  gap: .25em;
  isolation: isolate;
  max-height: calc(100vh - 6em);
}

.search-bar-container {
  position: relative;
  &:hover .base-search-bar-icon,
  &:focus .base-search-bar-icon {
    opacity: .8;
  }
}

.base-search-bar-icon {
  position: absolute;
  transform: translateY(-50%);
  opacity: .5;
  top: 50%;
}

#search-icon {
  @extend .base-search-bar-icon;
  transition: opacity 80ms;
  left: 1em;
}

#settings-icon {
  @extend .base-search-bar-icon;
  right: 1em;
  scale: .9;
  cursor: pointer;
  transition: opacity 50ms, rotate 500ms ease-out;
  transform-origin: center 0;
}

#settings-reset-button {
  cursor: pointer;

  &:hover {
    color: mediumpurple;
  }
}

#search-bar {
  @include frosty($blur: 8px);

  width: 100%;
  padding: .65em 2.2em .65em 2.4em;

  border: none;
  outline: none;
  border-radius: .5em;

  color: whitesmoke;
  background: $dark-color;
  font-size: 2em;
}

.settings {
  @include frosty($blur: 8px);

  display: flex;
  flex-direction: column;
  gap: 1em;
  box-sizing: border-box;
  padding: 0 1em;

  background: $dark-color;
  border-radius: 0 0 1em 1em;
  clip-path: polygon(-10% .5em, 110% .5em, 110% 110%, -10% 110%);
  margin: -.75em 0 -.25em 2.5%;
  width: 95%;
  z-index: -1;

  transition: all 500ms, padding 1000ms;
  max-height: 0;
  flex: 0;

  & > * {
    transition: all 500ms;
    opacity: 0;
  }
}

.settings.expanded {
  padding: 1.75em 1em 1em 1em;
  transition: all 500ms;
  max-height: 100vh;
  flex: .1;

  & > * {
    opacity: 1;
  }
}

.settings label {
  font-family: monospace;
  font-size: 1.5em;
}

.settings input {
  outline: none;
  border: none;
  transition: 500ms width;

  &::placeholder {
    overflow: visible;
  }
}

.cards-container {
  margin-top: .5em;
  padding-top: 1em;
  padding-inline: 2em;
  margin-inline: -2em;
  overflow-y: scroll;
  margin-bottom: -0em;
}

.card {
  position: relative;
  float: right;
  box-sizing: border-box;
  padding: .1em 1em;
  margin-bottom: .75em;

  width: calc(100% - 1.5em);
  border-radius: 0 .5em .5em 0;
  background: $dark-color;
  font-size: 1.5em;

  cursor: pointer;

  &, &::before, &::after {
    @include frosty($blur: 4px);
  }

  &::before, &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: .75em;
  }

  &::before {
    background: $dark-color;
    inset: 0 0 0 -1.5em;
    border-radius: .5em 0 0 .5em;
  }

  &::after {
    background: var(--card-similarity-color);
    inset: 0 0 0 -.75em;
    top: 0;
    box-shadow: 1px 2px 8px 2px rgba(200, 200, 200, .1) inset;
  }
}

.errored-page {
  backdrop-filter: blur(5px);
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-style: italic;
  transition: 500ms all;

  & span {
    filter: drop-shadow(0 0 .1em rgb(255, 255, 255, .75));
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
